<div class="container">
    <div class="header">
        <div>List of Pins</div>
        <div class="third-normal-font" style="display: flex;">
            <div class="general-button" (click)="openAddCustomerDialog()"> + Add Customer</div>
            <div class="general-button" (click)="openAddPinDialog()"> + Add Pin</div>
        </div>
    </div>
    <div class="content _mt-12">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Collaboratory</th>
                    <th>Privacy</th>
                </tr>
            </thead>
            <ng-container *ngIf="allPinList.length">
                <tbody *ngFor="let pin of allPinList">
                    <tr>
                        <td>{{pin.title}}</td>
                        <td> <img class="pin-image" [src]="pin.imgData" onerror="this.src='assets/images/sample-placeholder.jpg'" />
                        </td>
                        <td>
                            <div *ngFor="let name of pin.collaboratory">{{name}}</div>
                        </td>
                        <td>{{pin.privacy}}</td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
        <ng-container *ngIf="!allPinList.length">
            <div class="second-normal-font" style="margin-top: 50px !important; text-align: center; width: 100%;">
                <div>Sorry, seems no pin created...!!</div>
                <div>Please start with creating customer.</div>
            </div>
        </ng-container>
    </div>

</div>