<div class="container">
    <div class="header">
        <div>List of Pins</div>
        <div class="third-normal-font" style="display: flex;">
            <div class="general-button" (click)="openAddCustomerDialog()"> + Add Customer</div>
            <div class="general-button" (click)="openAddPinDialog()"> + Add Pin</div>
        </div>
    </div>
    <div class="content _mt-12">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Collaboratory</th>
                    <th>Privacy</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data 1</td>
                    <td>Data 2</td>
                    <td>Data 3</td>
                    <td>Data 4</td>
                </tr>
                
            </tbody>
        </table>
    </div>

</div>