$app-bg-color: #F8F8F9;
$highlight-color: #1FB5EB;
$text-color: #333333;
$primary-color: #F0CAFB;
$white-color: #FFFFFF;
$black-color: black;
$button-bg: #C2C2C4;

@mixin first-normal-font {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
@mixin first-bold-font {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
@mixin second-normal-font {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}
@mixin second-bold-font {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}
@mixin third-normal-font {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
@mixin third-bold-font {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}


