/* You can add global styles to this file, and also import other style files */
@import './assets/css/variables';
@import url('https://fonts.cdnfonts.com/css/product-sans');

@font-face {
    font-family: "Product Sans";
    src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
}

html,
body {
    height: 100%;
    background-color: $app-bg-color;
}

body {
    font-family: Product Sans,
}

*,
*:before,
*:after {
    margin: 0 !important;
    padding: 0 !important;
    outline: none;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
    color: $text-color;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

._mb-12 {
    margin-bottom: 12px;
}

._mt-12 {
    margin-top: 12px;
}

.custom-button {
    color: $primary-color !important;
}

.first-normal-font {
    font-size: 24px;
    line-height: 32px;
}

.first-bold-font {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.second-normal-font {
    font-size: 20px;
    line-height: 27px;
}

.second-bold-font {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.third-normal-font {
    font-size: 16px;
    line-height: 24px;
}

.third-bold-font {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.text-align {
    text-align: center;
}